body {
  height: 100vh;
}
h1 {
  background-color: lightgrey;
  padding: 10px;
  margin-bottom: 20px;
}

.pay-style {
  display: inline-block;
  background-color: dimgray;
  padding: 10px 0 10px 10px;
  color: aliceblue;
}

.footer-style {
  background-color: lightgrey;
}

.tablafondo {
  width: 60rem;
  border: 3px solid lightgrey;
}
